.cursor {
	cursor: pointer;
}

.operations {
	float: right;
}

.menuOperations {
	font-size: 30px;
	font-weight: 500;
	height: 50px;
	display: block;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
	background-color: #367fa9;
	color: #f9f9f9;
	font-family: monospace;
}

.btn-large {
	width: 100%;
}

.winLogin {
	background-color: #222222 !important;
}

.txtArea {
	resize: none;
}

.loginFont {
	font-size: 18px !important;
	font-family: 'Source Sans Pro', sans-serif;
}

.btnLog {
	font-size: 20px;
}

.btn-full {
	width: 100%;
	text-align: justify;
	float: left;
	padding: -5%;
}

.customerinput {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background-image:none;
}