.cursor {
	cursor: pointer;
}

.operations {
	float: right;
}

.menuOperations {
	font-size: 30px;
	font-weight: 500;
	height: 50px;
	display: block;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
	background-color: #367fa9;
	color: #f9f9f9;
	font-family: monospace;
}

.btn-large {
	width: 100%;
}

.winLogin {
	background-color: #222222 !important;
}

.txtArea {
	resize: none;
}

.loginFont {
	font-size: 18px !important;
	font-family: times new roman !important;
}

.btnLog {
	font-size: 20px;
}

.btn-full {
	width: 100%;
	text-align: justify;
	float: left;
	padding: -5%;
}

.customerinput {
	
}

.bg-inoLab {
	background-color: #ddd !important;
	color: #222 !important;
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow
		ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	background-image: none;
}

.custom_margin {
	margin: 10px;
	display: inline-flex;
	text-align: center;
}

.z-select {
	font-family: times new roman;
	font-size: 14px;
}

.btn-inoLab {
	color: #ffffff;
	background-color: #3c8dbc;
	border-color: rgba(0, 0, 0, 0.2);
}

.z-label, .z-radio-content, .z-checkbox-content, .z-loading {
	font-family: times new roman !important;
	font-size: 14px;
	font-weight: normal;
}

.right {
	float: right;
}

.loginSpecial {
	background: #3c8dbc !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	box-shadow: inset 0px -0px 0px rgba(0, 0, 0, 0.2) !important;
	padding: 13px 10px !important;

}

.z-textbox, .z-decimalbox, .z-intbox, .z-longbox, .z-doublebox {
	font-family: times new roman !important;
	font-size: 15px !important;
	font-weight: normal;
	font-style: normal;
	color: #000;
	min-height: 24px;
	border: 1px solid #cfcfcf;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0;
	padding: 4px 5px 3px;
	line-height: 14px;
	background: #fff;
}