.cursor {
	cursor: pointer;
}

.operations {
	float: right;
}

.menuOperations {
	font-size: 30px;
	font-weight: 500;
	height: 50px;
	display: block;
	font-size: 15px;
	line-height: 50px;
	text-align: center;
	background-color: #367fa9;
	color: #f9f9f9;
	font-family: monospace;
}

.btn-large {
	width: 100%;
}

.winLogin {
	background-color: #222222 !important;
}

.txtArea {
	resize: none;
}

.loginFont {
	font-size: 18px !important;
	font-family: 'Source Sans Pro', sans-serif;
}

.btnLog {
	font-size: 20px;
}

.btn-full {
	width: 100%;
	text-align: justify;
	float: left;
	padding: -5%;
}

.customerinput {
	
    
}

.bg-inoLab {
	background-color: #ddd !important;
	color: #222 !important;
	display:block;
	width: 100%;
	text-align:center;
}

.z-select {
	font-family: times new roman;
	font-size: 14px;
}

.btn-inoLab{
	color: #ffffff;
	background-color: #3c8dbc;
	border-color: rgba(0, 0, 0, 0.2);
}