.z-listbox-header {
	width: 100%;
	border-color: #f5f5f5;
	background: -webkit-linear-gradient(top, #3c8dbc 0%, #3c8dbc 100%);
	background: linear-gradient(to bottom, #3c8dbc 0%, #3c8dbc 100%);
	position: relative;
	font-family: times new roman !important;
}

.z-listheader {
	border-left: 1px solid #3c8dbc;
	border-bottom: 1px solid #3c8dbc;
	border-top: 1px solid #3c8dbc;
	padding: 0;
	border-color: #f5f5f5;
	background: -webkit-linear-gradient(top, #f5f5f5 0%, white 100%);
	background: linear-gradient(to bottom, #f5f5f5 0%, white 100%);
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	font-family: times new roman !important;
}

.z-listheader-content {
	font-weight: bold;
	padding: 4px 5px 3px;
	position: relative;
	border-color: #f5f5f5;
	font-family: times new roman !important;
}

.z-listheader-content {
	font-weight: bold;
	padding: 4px 5px 3px;
	position: relative;
	font-family: times new roman !important;
}

.z-listheader-content {
	font-weight: bold;
	padding: 4px 5px 3px;
	position: relative;
	border-color: #f5f5f5;
	font-family: times new roman !important;
}

.z-listheader-content, .z-listgroup-content, .z-listgroupfoot-content,
	.z-listfooter-content {
	font-weight: normal;
	color: #fff;
	padding: 4px 5px;
	overflow: hidden;
	font-size: 15px;
	line-height: 30px;
	font-family: times new roman !important;
	border-color: #f5f5f5;
}

.z-listbox {
	border: 1px solid #ddd;
	overflow: hidden;
	zoom: 1;
	font-size: 20px;
	line-height: 50px;
	font-family: times new roman !important;
	font-weight: 500;
	display: block;
	border-color: #ddd;
}

.z-listitem {
	font-family: times new roman !important;
	font-size: 14px !important;
	color: black !important;
}

.z-listitem.z-listitem-selected:hover .z-listcell-content {
	color: white;
	background: #3c8dbc;
	font-family: times new roman !important;
	font-size: 14px;
}

.z-listitem:hover>.z-listcell>.z-listcell-content {
	color: white;
	font-family: times new roman !important;
	font-size: 16px;
}

.z-listitem .z-listitem-selected {
	color: #fff;
	background: none repeat scroll 0 0 #fff;
	font-family: times new roman !important;
	font-size: 14px;
}

.z-listitem:hover>.z-listcell>.z-listcell-content {
	color: black;
	font-family: times new roman !important;
	font-size: 14px;
}

.z-listitem.z-listitem-selected>.z-listcell>.z-listcell-content {
	color: black;
	background: white;
	font-family: times new roman !important;
	font-size: 14px;
}

.z-listitem.z-listitem-selected:hover>.z-listcell {
	font-size: 14px;
	line-height: 50px;
	font-family: times new roman !important;
	background: -webkit-linear-gradient(top, #3c8dbc 0%, #3c8dbc 100%);
	background: linear-gradient(to bottom, #3c8dbc 0%, #3c8dbc 100%);
	position: relative;
	color: black !important;
}

.z-listitem.z-listitem:hover>.z-listcell {
	font-size: 14px;
	line-height: 50px;
	font-family: times new roman !important;
	background: -webkit-linear-gradient(top, white 0%, white 100%);
	background: linear-gradient(to bottom, white 0%, white 100%);
	position: relative;
	color: black !important;
}

.z-listhead {
	font-size: 20px;
	line-height: 50px;
	font-family: times new roman !important;
	border-color: #f5f5f5;
	background: -webkit-linear-gradient(top, #3c8dbc 0%, #3c8dbc 100%);
	background: linear-gradient(to bottom, #3c8dbc 0%, #3c8dbc 100%);
	position: relative;
}

.z-listfoot {
	font-size: 20px;
	line-height: 60px;
	font-family: times new roman !important;
	border-color: #555657;
	background: -webkit-linear-gradient(top, #555657 0%, #555657 100%);
	background: linear-gradient(to bottom, #555657 0%, #555657 100%);
	position: relative;
}

.z-listitem .z-listitem:hover {
	font-size: 14px;
	line-height: 50px;
	font-family: times new roman !important;
	border-color: #f5f5f5;
	background: -webkit-linear-gradient(top, white 0%, white 100%);
	background: linear-gradient(to bottom, white 0%, white 100%);
	position: relative;
}

.inoLabFont {
	font-family: times new roman !important;
	font-size: 16px;
	position: relative;
}

.z-listitem-icon .z-icon-radio {
	position: absolute;
	top: 0%;
	left: 0%;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	opacity: 0;
	background: rgb(255, 255, 255);
}

}
.z-listitem-checkable {
	display: inline-block;
	width: 16px;
	height: 16px;
	border: 1px solid #8e8f8f;
	background: #f8f8f8;
	vertical-align: text-top;
}
